<!-- * * * * * * * * * * * Header * * * * * * * * * * * -->
<header>
  <nav class="navbar navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand">{{title}}</a>
      <button type="button" class="btn btn-nav rounded-pill btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add item
      </button>
    </div>
  </nav>
</header>

<main>

  <div class="container">

    <!-- * * * * * * * * * * * Modal * * * * * * * * * * * -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add an item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form #shoppingForm="ngForm" (ngSubmit)="submitItem() ">
            <div class="modal-body">

              <div class="mb-3">
              <label>Item:</label><br>
              <input class="form-control" [(ngModel)]="listItem.itemName" name="itemName" #itemName="ngModel" id="itemName" required
              [class.is-invalid]="itemName.invalid && itemName.touched" pattern="{{regx}}">
              </div>

              <div class="mb-3">
              <label>Quantity:</label><br>
              <input class="form-control" [(ngModel)]="listItem.quantity" name="itemQuantity" #itemQuantity="ngModel" id="itemQuantity"
                required [class.is-invalid]="itemQuantity.invalid && itemQuantity.touched" pattern="{{regx}}">
              </div>

              <div class="mb-3">
              <label>Category:</label><br>
              <select class="form-select" placeholder="Select item" [(ngModel)]="listItem.category" name="itemCat" #itemCat="ngModel" id="itemCat" required
              [class.is-invalid]="itemCat.invalid && itemCat.touched">
                <option value="" selected disabled>Please select</option>
                <option *ngFor="let item of data" value="{{item}}">{{item}}</option>
              </select>
            </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
              <button class="btn rounded-pill btn-card" [disabled]="shoppingForm.form.invalid" >Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="row my-5 g-4">

      <!-- * * * * * * * * * * * Card component * * * * * * * * * * * -->

      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of allItems">

        <div class="card h-100 shadow">
          <img class="card-img-top"
            src="{{item.imgLink}}"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.itemName}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Quantity: {{item.quantity}}</li>
            <li class="list-group-item">Category: {{item.category}}</li>
          </ul>
          <div class="card-body text-center">
            <button type="button" class="btn btn-card rounded-pill" (click)="deleteItem( (item.id) )">Got It</button>
          </div>
        </div>
      </div>

      <!-- * * * * * * * * * * * Closing Container + Row * * * * * * * * * * * -->

    </div>
  </div>
</main>

<router-outlet></router-outlet>
